// ==========================================================================
// Variables
// ==========================================================================
//
// Table of Contents:
//
//  Colors
//  Fonts
//  Breakpoint
//  Grid
//  Media query
//  Root style
//
// ==========================================================================
// Colors
// ==========================================================================

$brand-primary   :           blue;
$brand-secondary :           red;

$root-black      :           #000000;
$root-dgrey      :           #4c4c4c;
$root-lgrey      :           #9b9a9b;
$root-white      :           #ffffff;

// ==========================================================================
// Fonts
// ==========================================================================

$font-primary: 'Roboto', sans-serif;         // Google font
$font-secondary: 'auther-typeface';          // Local font

// ==========================================================================
// Breakpoint
// ==========================================================================

$grid-breakpoints: (
    //root: 0,
    xs:                            480px,
    sm:                            768px,
    md:                            1024px,
    lg:                            1280px
);

// ==========================================================================
// Grid
// ==========================================================================

$grid-columns:                     12;
$grid-gutter:                      30px;
$grid-container-width:             1366px;

@import 'utilities/grid.scss';
@include grid('gr-grid', 12, $grid-gutter, $grid-container-width);

// ==========================================================================
// Media query
// ==========================================================================
// Ex
// @include mq(md) {
//    margin: 0 auto;
// }

// ==========================================================================
// Root style
// ==========================================================================

$root-font-family:                 $font-primary !default;
$root-font-size:                   16px !default;
$root-line-height:                 1.5 !default;

body {
     font-family:    $root-font-family;
     font-size:      $root-font-size;
     line-height:    $root-line-height;
}
