<!doctype html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>template</title>

     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

     <!-- CSS -->
     <link rel="stylesheet" href="../../dist/css/styles.css">

     <!-- JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
     <script src="https://use.fontawesome.com/679c1ac466.js"></script>
     <script src="../../dist/js/main.js"></script>
</head>
<body>
     <div class="container">
          allo
          <i class="fa fa-camera-retro"></i>
          <div class="row">
               <div class="col xs12 s4 m6 l4 col1">Col 1</div>
               <div class="col xs12 s4 m6 l4 col2">Col 2</div>
               <div class="col xs12 s4 m12 l4 col3">Col 3</div>
          </div>
     </div>
</body>
</html>
